<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="Gestão de Documentos Frotas"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Tela de ABERTURA do App -->
        <activity
            android:name=".TelaLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Demais telas -->
        <activity
            android:name=".TelaEmpresa"
            android:exported="false"/>
        <activity
            android:name=".PainelMaster"
            android:exported="false"/>
        <activity
    android:name=".DetalhesEmpresa"
    android:exported="false"/>
        

    </application>

    <!-- Permissão para acessar arquivos do celular -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_DOCUMENTS" />

</manifest>
